# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
cypress

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# db config
db/db.config.js

# db rename script
db/db_create/rename_db.sh

# images folder
src/assets/images/categories

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#=====================================================
# folder containing JK notes, project instructions and mockups, screenshots, experiments, etc.
__notes