# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# trash folder contains experiments that didn't work out
trash

# db config
db/db.config.js

# db rename script
db/db_create/rename_db.sh

# project instructions folder
class02-final-project
.env